body {
	/*font-size: 62.5px;*/
	font-family: "Raleway";
	}
h1 {
	font-size: 5rem;
	font-family: "Playfair";
	}
h2 {
	font-size: 4rem;
	font-family: "Playfair";
	}
h3 {
	font-size: 4rem;
	font-family: "Playfair";
	}
.mueble {
	color: #037BC0;
	}
.imagen {
	/* Poner imagenes a 1.6rem */
				
	}
.hero {
	/* Barra de navegación */
				
	}
.columna {
	border: solid;
}
.flexbox-container{
	display: flex;
}
#Categorías {
	display: flex;
}